html {
  font-size: 10px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: black;
  margin: 0;
}
h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
a {
  color: light-blue;
}
main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
figure {
  background: white;
  padding: 10px;
  margin: 0;
}
figcaption {
  margin: 15px 0 15px 0;
}
